<!-- Basic HTML specifications and head elements are included in base.html -->
{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<!-- image used as title art -->
<div class = "art-title">
    <img src="https://i.ibb.co/PZjwTtV/Untitled-Artwork-13.png" alt="Kanban_title_art" >
</div>

<!-- Kanban Board -->
<div class = "board">

    <!-- Columns divid the board into its three sections -->
    <div class = "column">
        <div class = "column-title"> T O  D O </div>

        <!-- Section is populated from the todo tasks using a for loop -->
        {% for task in todo_tasks %}
        <!-- Each Task corresponds to a column-fill div with... -->
        <div class = "column-fill">
            <!-- Task description -->
            <div class = "item-input"> {{ task.content }} </div>
            <!-- Options to update the task to a new status or remove the task -->
            <div class = "updates">
                <a class = "button-update" href="update/2/{{ task.id }}"><em>Doing</em></a>
                <a class = "button-update" href="update/3/{{ task.id }}"><em>Done</em></a>
                <a class= "button-remove" href = "delete_task/{{ task.id }}"> &times; </a>
            </div>
        </div>
        {% endfor %}
        <!-- Each section has the option of adding a new task directly to it using a form -->
        <form action="/add_task/1" method="post">
            <!-- To input the task description -->
            <input class= "add-task-form" type = "text" name = "content" placeholder = "Task">
            <!-- To submit the task to the database and visualize it -->
            <button class = "add-task-button" type = "submit"  > + </button>
        </form>
    </div>

    <div class = "column">
        <div class = "column-title"> D O I N G </div>
        {% for task in doing_tasks %}
        <div class = "column-fill">
            <div class = "item-input"> {{ task.content }} </div>
            <div class = "updates">
                <a class = "button-update" href="update/1/{{ task.id }}"><em>To Do</em></a>
                <a class = "button-update" href="update/3/{{ task.id }}"><em>Done</em></a>
                <a class= "button-remove" href = "delete_task/{{ task.id }}"> &times; </a>
            </div>
        </div>
        {% endfor %}
        <form action="/add_task/2" method="post">
            <input class= "add-task-form" type = "text" name = "content" placeholder = "Task">
            <button class = "add-task-button" type = "submit"  > + </button>
        </form>
    </div> 
    <div class = "column">
        <div class = "column-title"> D O N E </div>
        {% for task in done_tasks %}
        <div class = "column-fill">
            <div class = "item-input"> {{ task.content }} </div>
            <div class = "updates">
                <a class = "button-update" href="update/1/{{ task.id }}"><em>To Do</em></a>
                <a class = "button-update" href="update/2/{{ task.id }}"><em>Doing</em></a>
                <a class= "button-remove" href = "delete_task/{{ task.id }}"> &times; </a>
            </div>
        </div>
        {% endfor %}
        <form action="/add_task/3" method="post">
            <input class= "add-task-form" type = "text" name = "content" placeholder = "Task">
            <button class = "add-task-button" type = "submit" > + </button>
        </form>
    </div>
</div>
{% endblock %}